.button {
    position: relative;
    height: 55px;
    max-width: 300px;
    width: max-content;
    background: hsl(0, 0%, 100%);
    border-radius: 7px;
    padding: 10px 22px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex; /* Ensure the button behaves correctly as a flex container */
    align-items: center;
    justify-content: center;
  }
  
  .button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none; /* Prevents all mouse events */
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgba(52, 52, 52, 0.8);
    border-radius: 6px;
    color: #fff;
    transition: left 0.3s ease; /* Smooth transition for the animation */
  }
  
  .button.progress::before {
    animation: progress 6s ease-in-out forwards;
  }
  
  @keyframes progress {
    0% {
      left: -100%;
    }
    10% {
      left: -97%;
    }
    20% {
      left: -92%;
    }
    30% {
      left: -82%;
    }
    30% {
      left: -62%;
    }
    40% {
      left: -38%;
    }
    50% {
      left: -18%;
    }
    60% {
      left: -14%;
    }
    80% {
      left: -7%;
    }
    90% {
      left: -3%;
    }
    100% {
      left: 0%;
    }
  }
  
  .button .text-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensures the elements inside are correctly positioned */
    z-index: 1; /* Ensures text/icon is above the animated background */
  }
  
  .button .text-icon i,
  .button .text-icon span {
    color: black;
    font-size: 26px;
    margin-left: 10px;
  }
  
  .button .text-icon span {
    font-size: 20px;
    font-weight: 400;
  }
  
  
  