@font-face {
  font-family: "JejuHallasan";
  src: url("./assets/fonts/JejuHallasan-Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}




:root {
  /* Colors */
  --bg-and-white: #fdfdfd;
  --bg-black: #1A1919;
  --text-color: #4a4849;
  --text-on-hover-color: #66564d;
  /* Font families */
  --main-font: "JejuHallasan", sans-serif; /*maybe another similar fallback font other than sans-serif*/


  /* Font sizes */
  --large-text: 55px;
  --medium-text: 35px;
  --field-text: 25px;
  --small-text: 20px;
}

/* Apply font to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font) !important; /* !important ensures override of browser defaults */
}

/* Fix for form elements in some browsers */
button,
input,
select,
textarea {
  font: inherit; /* Ensures these elements inherit the global font */
}

#root {
  max-width: 100vw;
  height: 100vh;
  /* padding: 2rem; */
  text-align: center;
}

/* Global styles */
body {
  background-color: var(--bg-and-white);
  color: var(--text-color); /* All text inside html body will have this color */
  font-family: var(--main-font);
}


/* Dashboard layout styles */
.dashboard-layout {
  display: flex;
  width: 100%;
  height: 100vh;

}

.main-content {
  flex: 2;
  padding: 1rem;
  overflow-y: auto;
  transition: margin-left 0.4s ease;
  background-color: var(--bg-black);
  color: var(--bg-and-white);
}

.main-content.sidebar-minimized {
  margin-left: 3rem; /* Same as minimized sidebar width */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-content {
    margin-left: 5rem;
  }
  
  .main-content.sidebar-minimized {
    margin-left: 5rem;
  }
}

@media (max-width: 480px) {
  .main-content {
    margin-left: 4rem;
  }
  
  .main-content.sidebar-minimized {
    margin-left: 4rem;
  }
}